:root {
    --color-black: #050405;
    --color-pink: #C250D8;
    --color-light_purple: #721E8D;
    --color-light_pink: #F495F8;
    --color-purple: #501C54;
}



body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, var(--color-light_pink), var(--color-purple));
    
}

.login-container {
    max-width: 400px;
    text-align: center;
}

.login-form {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.logo {
    max-width: 100px;
    margin-bottom: 20px;
}

.login-form h2 {
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--color-purple);
    border-radius: 5px;
}

.login-form input[type="submit"] {
    background-color: var(--color-purple);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form input[type="submit"]:hover {
    background-color: var(--color-light_purple);
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    max-width: 400px;
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
    border-color: var(--color-light_purple);
    box-shadow: 0 0 5px var(--color-light_purple);
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="email"] {
    width: 90%; /* Establecer el ancho al 100% */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--color-purple);
    border-radius: 5px;
}

@media (max-width: 768px) {
    .login-form {
        padding: 15px;
    }

    .login-form input[type="text"],
    .login-form input[type="password"],
    .login-form input[type="email"] {
        width: 90%; 
    }
}