*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:whitesmoke;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    padding: 1rem;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

ul a{
    color: aliceblue;
    text-decoration: none;
}

.nav__link{
    padding: 15px;
}

ul{
    list-style: none;
    display: flex;
    gap: 10px;
}